%h1 Patients

%table.table
  %thead
    %tr
      %th #
      %th First Name
      %th Last Name
      %th Facility
      %th
  %tbody
    - @patients.each do |patient|
      %tr
        %td= patient.id
        %td= patient.first_name
        %td= patient.last_name
        %td= patient.facility.name
        %td= link_to 'Transfer Summary', summary_path(patient), role: "button", class: "btn btn-default"
        -# %td= link_to 'Edit', edit_patient_path(patient)
        -# %td= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' }

= will_paginate @patients

-# = link_to 'New Patient', new_patient_path
