%h1 Patients

%table
  %thead
    %tr
      %th Patient ID
      %th First Name
      %th Last Name
      %th Facility
      %th

  %tbody
    - @patients.each do |patient|
      %tr
        %td= patient.id
        %td= patient.first_name
        %td= patient.last_name
        %td= patient.facility.name
        %td= link_to 'Transfer Summary', patient
        -# %td= link_to 'Edit', edit_patient_path(patient)
        -# %td= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' }

%br

-# = link_to 'New Patient', new_patient_path
